@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Street";
  src: url("../fonts/UtGuthenStreet.otf");
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for webkit browsers */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  /* Optional: to allow swipe action */
  .hide-scrollbar {
    touch-action: pan-y; /* Allow vertical scrolling while panning horizontally */
    overflow-x: scroll; /* Ensure horizontal scrolling is enabled */
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }