@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@200..800&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Street";
  src: url("../fonts/UtGuthenStreet.otf");
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for webkit browsers */
  }
  
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .hide-scrollbar {
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on mobile */
    overflow-x: auto; /* Ensure horizontal scroll is enabled */
    overflow-y: hidden; /* Hide vertical scrolling */
    touch-action: pan-x; /* Allow horizontal touch swipe */
  }